# Machine Learning

In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder 
import pickle
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn import svm

### Loading, and concat x and y csv's

In [16]:
X_train = pd.read_csv('X_train.csv')
Y_train = pd.read_csv('Y_train.csv')
X_test = pd.read_csv('X_test.csv')
Y_test = pd.read_csv('Y_test.csv')

In [17]:
X_train.head(2)

,Unnamed: 0,mkt_op_carrier_difference,Type_Cold,Type_Fog,Type_Hail,Type_Precipitation,Type_Rain,Type_Snow,dow_Friday,dow_Monday,...,dest_0,dest_1,dest_2,dest_3,dest_4,dest_5,dest_6,dest_7,dest_8,dest_9
0,0,1,0,1,0,0,0,0,0,1,...,2.0,-2.0,5.0,2.0,-1.0,1.0,1.0,0.0,-1.0,-2.0
1,1,0,0,0,0,0,1,0,0,0,...,3.0,-3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0

In [18]:
Y_train.head(2)

   Unnamed: 0  arr_delay
0           0      -11.0
1           1      -14.0

In [19]:
df_all = pd.concat([X_train, Y_train], axis=1)
df_all.head(2)

,Unnamed: 0,mkt_op_carrier_difference,Type_Cold,Type_Fog,Type_Hail,Type_Precipitation,Type_Rain,Type_Snow,dow_Friday,dow_Monday,...,dest_2,dest_3,dest_4,dest_5,dest_6,dest_7,dest_8,dest_9,Unnamed: 0,arr_delay
0,0,1,0,1,0,0,0,0,0,1,...,5.0,2.0,-1.0,1.0,1.0,0.0,-1.0,-2.0,0,-11.0
1,1,0,0,0,0,0,1,0,0,0,...,3.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,1,-14.0

### Feature Engineering

In [23]:
# list(X_train.columns)

In [22]:
features = ['Unnamed: 0',
 'mkt_op_carrier_difference',
 'Type_Cold',
 'Type_Fog',
 'Type_Hail',
 'Type_Precipitation',
 'Type_Rain',
 'Type_Snow',
 'dow_Friday',
 'dow_Monday',
 'dow_Saturday',
 'dow_Sunday',
 'dow_Thursday',
 'dow_Tuesday',
 'arr_dawn',
 'arr_evening',
 'arr_morning',
 'arr_noon',
 'dep_dawn',
 'dep_evening',
 'dep_morning',
 'dep_noon',
 'aircraft_4',
 'aircraft_6',
 'muc_AS',
 'muc_B6',
 'muc_DL',
 'muc_F9',
 'muc_G4',
 'muc_HA',
 'muc_NK',
 'muc_UA',
 'muc_WN',
 'Passengers_Seat_Ratio',
 'distance',
 'Taxi_Holdup',
 'crs_elapsed_time',
 'origin_label',
 'dest_label',
 'origin_0',
 'origin_1',
 'origin_2',
 'origin_3',
 'origin_4',
 'origin_5',
 'origin_6',
 'origin_7',
 'origin_8',
 'origin_9',
 'dest_0',
 'dest_1',
 'dest_2',
 'dest_3',
 'dest_4',
 'dest_5',
 'dest_6',
 'dest_7',
 'dest_8',
 'dest_9']
X = df_all[features] # features
y = df_all.arr_delay # target

### split data into train/test sets

In [24]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

### Train model with all features

In [27]:
#Create a Gaussian Classifier
clf=RandomForestRegressor(n_estimators=100)

os.system("printf '\a'")

1

In [29]:
#Train the model using the training sets (X_test)
clf.fit(X_train,y_train)
os.system("printf '\a'")

1

In [32]:
clf.score(X_train,y_train)

0.8643236068680926

### Cross validation with test

In [30]:
y_pred = clf.predict(X_test)

In [31]:
r2 = r2_score(y_test,y_pred)
mean_sq_er = mean_squared_error(y_test,y_pred)
mean_abs_er = mean_absolute_error(y_test,y_pred)

print('r2 score for cross validation is: {}'.format(r2))
print('mean_squared_error score for cross validation is: {}'.format(mean_sq_er))
print('mean_absolute_error score for cross validation is: {}'.format(mean_abs_er))
os.system("printf '\a'")

r2 score for cross validation is: 0.030973305968993392
mean_squared_error score for cross validation is: 3120.2960895344327
mean_absolute_error score for cross validation is: 26.62171619786615

1

### Train test Data