In [62]:
# merge dfs
import pandas as pd

In [91]:
x = pd.read_csv('X.csv')
w = pd.read_csv('weather_shiv.csv')
pd.set_option('display.max_columns', None)

C:\Users\furqa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [92]:
x = x.drop(['Unnamed: 0'],axis=1)
w = w.drop(['Unnamed: 0'],axis=1)

In [93]:
w = w.dropna(subset=['arr_delay'])

In [94]:
x.columns.values

array(['fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier',
       'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin',
       'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name',
       'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
       'cancelled', 'cancellation_code', 'diverted', 'dup',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name',
       'Carrier_Origin_Dest_Airport', 'seats', 'passengers',
       'Passengers_Seat_Ratio', 'mkt_op_carrier_difference',
       'aircraft_group', 'class', 'Taxi_Holdup'], dtype=object)

In [95]:
x= x[['fl_date',
   'mkt_unique_carrier',
   'origin_city_name',
   'dest_city_name',
   'crs_dep_time',
   'crs_arr_time',
   'arr_delay',
   'crs_elapsed_time',
   'distance',
   'Carrier_Origin_Dest_Airport',
   'seats',
   'passengers',
   'Passengers_Seat_Ratio',
   'mkt_op_carrier_difference',
   'aircraft_group',
   'Taxi_Holdup',
   'class']]

In [96]:
w = w.drop(['branded_code_share', 'mkt_carrier', 'dest_airport_id', 'origin_airport_id',
           'mkt_carrier_fl_num',
           'op_unique_carrier',
           'tail_num',
           'op_carrier_fl_num',
           'origin',
           'dest',
           'dup',
           'flights'],axis=1)

In [97]:
x.head(1)

,fl_date,mkt_unique_carrier,origin_city_name,dest_city_name,crs_dep_time,crs_arr_time,arr_delay,crs_elapsed_time,distance,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio,mkt_op_carrier_difference,aircraft_group,Taxi_Holdup,class
0,2019-01-20,DL,"Atlanta, GA","Pittsburgh, PA",855,1032,-7.0,97.0,526.0,DL1039714122,34633.0,25214.0,0.728034,True,6,9.0,F

In [98]:
w.head(1)

,fl_date,mkt_unique_carrier,origin_city_name,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay,Type_Mode
1,2019-01-01,AA,"Myrtle Beach, SC","Charlotte, NC",2157,2311,74.0,157.0,-3.0,Fog

In [99]:
combined = x.merge(w, how='left')

In [100]:
combined.shape

(617649, 18)

In [101]:
combined = combined.dropna()

In [104]:
combined.shape

(245474, 18)

In [102]:
combined.to_csv('combined_df.csv')

In [103]:
combined.Type_Mode.value_counts()

Rain             120291
Fog               59613
Snow              59539
Cold               5219
Hail                437
Storm               353
Precipitation        22
Name: Type_Mode, dtype: int64