# Machine Learning

In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder 
import pickle
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn import svm

### Loading, and concat x and y csv's

In [37]:
X_train=pd.read_csv('X_train.csv', index_col=[0])
X_test=pd.read_csv('X_test.csv', index_col=[0])
Y_train=pd.read_csv('y_train.csv', index_col=[0])
Y_test=pd.read_csv('y_test.csv', index_col=[0])

In [38]:
X_train.head(2)

,mkt_op_carrier_difference,Type_Cold,Type_Fog,Type_Hail,Type_Precipitation,Type_Rain,Type_Snow,dow_Friday,dow_Monday,dow_Saturday,...,dest_0,dest_1,dest_2,dest_3,dest_4,dest_5,dest_6,dest_7,dest_8,dest_9
0,1,0,1,0,0,0,0,0,1,0,...,2.0,-2.0,5.0,2.0,-1.0,1.0,1.0,0.0,-1.0,-2.0
1,0,0,0,0,0,1,0,0,0,0,...,3.0,-3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0

In [39]:
Y_train.head(2)

   arr_delay
0      -11.0
1      -14.0

In [40]:
df_all = pd.concat([X_train, Y_train], axis=1)
df_all.head(2)

,mkt_op_carrier_difference,Type_Cold,Type_Fog,Type_Hail,Type_Precipitation,Type_Rain,Type_Snow,dow_Friday,dow_Monday,dow_Saturday,...,dest_1,dest_2,dest_3,dest_4,dest_5,dest_6,dest_7,dest_8,dest_9,arr_delay
0,1,0,1,0,0,0,0,0,1,0,...,-2.0,5.0,2.0,-1.0,1.0,1.0,0.0,-1.0,-2.0,-11.0
1,0,0,0,0,0,1,0,0,0,0,...,-3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,-14.0

### Feature Engineering

In [41]:
# list(X_train.columns)

In [42]:
features = [
 'mkt_op_carrier_difference',
 'Type_Cold',
 'Type_Fog',
 'Type_Hail',
 'Type_Precipitation',
 'Type_Rain',
 'Type_Snow',
 'dow_Friday',
 'dow_Monday',
 'dow_Saturday',
 'dow_Sunday',
 'dow_Thursday',
 'dow_Tuesday',
 'arr_dawn',
 'arr_evening',
 'arr_morning',
 'arr_noon',
 'dep_dawn',
 'dep_evening',
 'dep_morning',
 'dep_noon',
 'aircraft_4',
 'aircraft_6',
 'muc_AS',
 'muc_B6',
 'muc_DL',
 'muc_F9',
 'muc_G4',
 'muc_HA',
 'muc_NK',
 'muc_UA',
 'muc_WN',
 'Passengers_Seat_Ratio',
 'distance',
 'Taxi_Holdup',
 'crs_elapsed_time',
 'origin_label',
 'dest_label',
 'origin_0',
 'origin_1',
 'origin_2',
 'origin_3',
 'origin_4',
 'origin_5',
 'origin_6',
 'origin_7',
 'origin_8',
 'origin_9',
 'dest_0',
 'dest_1',
 'dest_2',
 'dest_3',
 'dest_4',
 'dest_5',
 'dest_6',
 'dest_7',
 'dest_8',
 'dest_9']
X = df_all[features] # features
y = df_all.arr_delay # target

### split data into train/test sets

In [43]:
# Split dataset into training set and test set
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

### Train model with all features

In [44]:
#Create a Gaussian Classifier
clf=RandomForestRegressor(n_estimators=100)
#clffeature_importances
os.system("printf '\a'")

1

In [45]:
#Train the model using the training sets (X_test)
clf.fit(X_train,Y_train)
os.system("printf '\a'")

C:\Users\JESSER~1\AppData\Local\Temp/ipykernel_10604/522858957.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train,Y_train)

1

In [48]:
clf.score(X_train,Y_train)

0.8573543806633094

### Cross validation with test

In [49]:
y_pred = clf.predict(X_test)

In [50]:
r2 = r2_score(Y_test,y_pred)
mean_sq_er = mean_squared_error(Y_test,y_pred)
mean_abs_er = mean_absolute_error(Y_test,y_pred)

print('r2 score for cross validation is: {}'.format(r2))
print('mean_squared_error score for cross validation is: {}'.format(mean_sq_er))
print('mean_absolute_error score for cross validation is: {}'.format(mean_abs_er))
os.system("printf '\a'")

r2 score for cross validation is: 0.013196069226261486
mean_squared_error score for cross validation is: 2979.115013196341
mean_absolute_error score for cross validation is: 26.076392405263142

1

### Train test Data

In [18]:
flights_test_df = pd.read_csv('flights_test_df.csv')
flights_test_df_mod = pd.read_csv('flights_test_df_mod.csv')

C:\Users\Jesse Randolph\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
flights_test_df.head(2)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363

In [47]:
 flights_test_df_mod.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,crs_elapsed_time,flights,distance,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio,mkt_op_carrier_difference,aircraft_group,class
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,...,95,1,363,WN1389114771,NaN,NaN,NaN,True,NaN,NaN
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,...,90,1,363,WN1389114771,NaN,NaN,NaN,True,NaN,NaN
2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,...,70,1,333,WN1389114831,17542.0,12659.0,0.721639,True,6,F
3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,...,75,1,333,WN1389114831,17542.0,12659.0,0.721639,True,6,F
4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,...,80,1,333,WN1389114831,17542.0,12659.0,0.721639,True,6,F

In [ ]:
# types = {''}

In [ ]:
# %%time
# df = df.astype(types)
# os.system("printf '\a'")

In [ ]:
# %%time
# # creating LabelEncoder object
# from sklearn.preprocessing import LabelEncoder
# import numpy as np
# enc = LabelEncoder()

# # encoding
# dfe_test = pd.DataFrame()    # created empty dataframe for saving encoded values
# for column in df.columns:
#     dfe_test[column] = enc.fit_transform(df[column])
    
# os.system("printf '\a'")

# dfe_test.head()