# Machine Learning

In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder 
import pickle
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn import svm

### Loading, and concat x and y csv's

In [2]:
X_train = pd.read_csv('X_train.csv')
Y_train = pd.read_csv('Y_train.csv')
X_test = pd.read_csv('X_test.csv')
Y_test = pd.read_csv('Y_test.csv')

In [3]:
X_train.head(2)

,Unnamed: 0,mkt_op_carrier_difference,Type_Cold,Type_Fog,Type_Hail,Type_Precipitation,Type_Rain,Type_Snow,dow_Friday,dow_Monday,...,dest_0,dest_1,dest_2,dest_3,dest_4,dest_5,dest_6,dest_7,dest_8,dest_9
0,0,1,0,1,0,0,0,0,0,1,...,2.0,-2.0,5.0,2.0,-1.0,1.0,1.0,0.0,-1.0,-2.0
1,1,0,0,0,0,0,1,0,0,0,...,3.0,-3.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0

In [4]:
Y_train.head(2)

   Unnamed: 0  arr_delay
0           0      -11.0
1           1      -14.0

In [6]:
df_all = pd.concat([X_train, Y_train], axis=1)
df_all.head(2)

,Unnamed: 0,mkt_op_carrier_difference,Type_Cold,Type_Fog,Type_Hail,Type_Precipitation,Type_Rain,Type_Snow,dow_Friday,dow_Monday,...,dest_2,dest_3,dest_4,dest_5,dest_6,dest_7,dest_8,dest_9,Unnamed: 0,arr_delay
0,0,1,0,1,0,0,0,0,0,1,...,5.0,2.0,-1.0,1.0,1.0,0.0,-1.0,-2.0,0,-11.0
1,1,0,0,0,0,0,1,0,0,0,...,3.0,1.0,0.0,0.0,0.0,0.0,0.0,-2.0,1,-14.0

### Feature Engineering

In [7]:
# list(X_train.columns)

In [8]:
features = ['Unnamed: 0',
 'mkt_op_carrier_difference',
 'Type_Cold',
 'Type_Fog',
 'Type_Hail',
 'Type_Precipitation',
 'Type_Rain',
 'Type_Snow',
 'dow_Friday',
 'dow_Monday',
 'dow_Saturday',
 'dow_Sunday',
 'dow_Thursday',
 'dow_Tuesday',
 'arr_dawn',
 'arr_evening',
 'arr_morning',
 'arr_noon',
 'dep_dawn',
 'dep_evening',
 'dep_morning',
 'dep_noon',
 'aircraft_4',
 'aircraft_6',
 'muc_AS',
 'muc_B6',
 'muc_DL',
 'muc_F9',
 'muc_G4',
 'muc_HA',
 'muc_NK',
 'muc_UA',
 'muc_WN',
 'Passengers_Seat_Ratio',
 'distance',
 'Taxi_Holdup',
 'crs_elapsed_time',
 'origin_label',
 'dest_label',
 'origin_0',
 'origin_1',
 'origin_2',
 'origin_3',
 'origin_4',
 'origin_5',
 'origin_6',
 'origin_7',
 'origin_8',
 'origin_9',
 'dest_0',
 'dest_1',
 'dest_2',
 'dest_3',
 'dest_4',
 'dest_5',
 'dest_6',
 'dest_7',
 'dest_8',
 'dest_9']
X = df_all[features] # features
y = df_all.arr_delay # target

### split data into train/test sets

In [45]:
# Split dataset into training set and test set
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

### Train model with all features

In [9]:
#Create a Gaussian Classifier
clf=RandomForestRegressor(n_estimators=100)

os.system("printf '\a'")

1

In [11]:
#Train the model using the training sets (X_test)
clf.fit(X_train,Y_train)
os.system("printf '\a'")

1

In [14]:
clf.score(X_train,Y_train)

0.9225250567387261

### Cross validation with test

In [15]:
y_pred = clf.predict(X_test)

In [17]:
r2 = r2_score(Y_test,y_pred)
mean_sq_er = mean_squared_error(Y_test,y_pred)
mean_abs_er = mean_absolute_error(Y_test,y_pred)

print('r2 score for cross validation is: {}'.format(r2))
print('mean_squared_error score for cross validation is: {}'.format(mean_sq_er))
print('mean_absolute_error score for cross validation is: {}'.format(mean_abs_er))
os.system("printf '\a'")

r2 score for cross validation is: 0.448734512064415
mean_squared_error score for cross validation is: 1666.9793830302813
mean_absolute_error score for cross validation is: 15.660557418899465

1

### Train test Data

In [18]:
flights_test_df = pd.read_csv('flights_test_df.csv')
flights_test_df_mod = pd.read_csv('flights_test_df_mod.csv')

C:\Users\Jesse Randolph\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
flights_test_df.head(2)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363

In [21]:
flights_test_df_mod.fl_date.value_counts()

2020-01-06    22764
2020-01-10    22617
2020-01-31    22590
2020-01-09    22587
2020-01-17    22579
2020-01-24    22576
2020-01-16    22552
2020-01-30    22540
2020-01-23    22537
2020-01-03    22475
2020-01-05    22468
2020-01-02    22467
2020-01-27    22393
2020-01-13    22392
2020-01-20    22020
2020-01-12    21610
2020-01-26    21603
2020-01-08    21418
2020-01-15    21406
2020-01-29    21403
2020-01-22    21399
2020-01-07    20887
2020-01-14    20866
2020-01-21    20864
2020-01-28    20850
2020-01-04    19880
2020-01-01    19682
2020-01-19    19589
2020-01-11    17429
2020-01-25    17362
2020-01-18    16751
Name: fl_date, dtype: int64